@page "{id:int}"
@model AccountDeleteModel
@{
	ViewData["Title"] = "Xóa Tài khoản";
}
<h3>@ViewData["Title"] - @Model.Account.AccountId</h3>
<p>Bạn có chắc muốn xóa tài khoản <strong>@Model.Account.AccountName</strong>?</p>
<form method="post">
	<button type="submit" class="btn btn-danger">Xóa</button>
	<a asp-page="Index" class="btn btn-secondary">Hủy</a>
</form>